<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rapport</servlet-name>
        <servlet-class>servlet.rapport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierUtilisateur</servlet-name>
        <servlet-class>servlet.ModifierUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterUtilisateur</servlet-name>
        <servlet-class>servlet.AjouterUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerUtilisateur</servlet-name>
        <servlet-class>servlet.SupprimerUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deconnecter</servlet-name>
        <servlet-class>servlet.Deconnecter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rapport</servlet-name>
        <url-pattern>/rapport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierUtilisateur</servlet-name>
        <url-pattern>/ModifierUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterUtilisateur</servlet-name>
        <url-pattern>/AjouterUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerUtilisateur</servlet-name>
        <url-pattern>/SupprimerUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deconnecter</servlet-name>
        <url-pattern>/Deconnecter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
